//variables
$lime : #7ED321;
$orange : #F5A623;
$white: #ffffff;
$black : #000000;
$red : #ff0000;

unsubscribe {
    color: $white;
}

@mixin heading-brand {
    font-weight: 700;
    color: $orange;
}

.heading-brand {
    @include heading-brand();
}

h6 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

table.button {
    margin:0 0 16px 0; 
    Margin:0 0 16px 0; 
    border:1px solid $lime;
    border-collapse:collapse;
    border-spacing:0;
    margin:0 0 16px 0;
    padding:0;
    text-align:center;
    vertical-align:top;
    width:150px;

    tr {
        padding:0;
        text-align:left;
        vertical-align:top;
    
        table td {
            -moz-hyphens:auto;
            -webkit-hyphens:auto;
            margin:0; 
            Margin:0;
            background:$white;
            border:none;
            border-collapse:collapse!important;
            color:$lime;
            font-family:Helvetica,Arial,sans-serif;
            font-size:16px;
            font-weight:400;
            hyphens:auto;
            line-height:1.3;
            margin:0;
            padding:0;
            text-align:center;
            vertical-align:top;
            word-wrap:break-word;
        }
    }

    &:hover {
        table td {
            background: $white;
            background-color: $white;
        }
    }
}

table.button table td a.button-link {
    margin:0; 
    Margin:0; 
    border:0 solid $lime;
    border-radius:3px;
    color:$lime;
    display:inline-block;
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px;
    font-weight:light;
    line-height:1.3;
    margin:0;
    padding:8px 25px 8px 25px;
    text-align:left;
    text-decoration:none;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $lime;
        background: $white;
        background-color: $white;
    }
}


th.large-12.horizontal-rule {
    padding-top: 5px;
    padding-bottom: 5px;

    .horizontal-rule-line {
         border-top-color: $orange !important;
         border-bottom-color: $orange !important;
         border-left-color: $orange !important;
         border-right-color: $orange !important;
         border-top-style:solid !important;
         border-bottom-style:solid !important;
         border-left-style:solid !important;
         border-right-style:solid !important;
    }
}

.horizontal-rule-line-red {
    border-top-color: $red;
    border-bottom-color: $red;
    border-left-color: $red;
    border-right-color: $red;
    border-top-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
}

#footer-bar,
#top-bar {
    background-color: $lime;

    .menu-item, 
    .menu-item a,
    .menu-item webversion,
    .menu-item preferences,
    .menu-item unsubscribe {
        color: $white;
        font-size: 10px;
    }

    #top-socials {
        padding-top: 5px;
        padding-bottom: 0;
        padding-right: 0;

        a, tweet, fblike, forwardtoafriend {
            display: inline-block;
            padding-left: 10px;
        }
    }

    .pipe {
        padding-left: 5px;
        padding-right: 5px;
    }

    @media only screen and (max-width: 596px) {
        .first {
            padding-bottom: 0!important;
        }
    }
}

.three-column-content {
    .editable-content {
        .heading-brand {
            font-size: 14px;
        }
        p {
            font-size: 10px;
        }
    }
}